#container{
	background-color:#FF0;
	border:inset #F60 medium;
	width:300px;
	margin-left:auto;
	margin-right:auto;
}

#head{
	width:280px;
	text-align:center;
	padding:10px;
	font-family:"Comic Sans MS", cursive;
	font-size:18px;
	border-bottom:#000 3px solid;
	background-color:#FFCC00;
}

#myAssignment{
	margin-top:40px;
	font-family:"Comic Sans MS", cursive;
	text-align:center;
	font-size:22px;
}

#myAnswer{
	margin-top:20px;
	margin-left:75px;
	font-size:22px;
	width:150px;
	height:30px;
}

#feedback{
	border:outset 2px #000033;
	margin-top:20px;
	margin-left:75px;
	margin-bottom:30px;
}
